html {
	overflow: hidden; 
	box-sizing: border-box;
	font-family: $font;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	margin: 0 auto;

	background: #000;
	color: #fff;

	text-align: center;
	@include user-select;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	display: flex;
	flex-direction: column;

	z-index: 9999;
	min-height: 100vh;
}

.main {
	flex: 1 1 auto;
}
