.footer {
	@include dflex;
	margin: 0 auto;

	height: 96px;
	width: 766px;

	border: 2px solid $stroke;
	border-radius: 22px;
}

.footer__list {
	@include dflex;
}

.footer__item {
	width: 70px;
	height: 68px;

	@include dflex;

	margin-right: 22px;
	border-radius: 10px;

	background-color: $default-item;
	transition: background-color 0.4s ease;

	&:last-child {
		margin-right: 0;
	}
}

.footer__item:hover,
.footer__item:focus {
	background-color: $item-hover;
}

.footer__link {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}

.footer__svg {
	fill: white !important;
}
