.main__container {
	margin-top: 140px;

	height: 550px;
	width: 1200px;

	border: 2px solid $stroke;
	border-radius: 22px;
}

.main__list {
	@include dflex;
	flex-wrap: wrap;

	padding-top: 30px;
	padding-bottom: 30px;
}

.main__item {
	@include dflex;

	margin-right: 22px;
	margin-bottom: 22px;

	width: 80px;
	height: 80px;

	border-radius: 10px;
	background-color: $default-item;
	transition: background-color 0.4s ease;

	&:nth-child(11n) {
		margin-right: 0;
	}

	&:hover,
	&:focus {
		background-color: $item-hover;
	}
}

.main__link {
	padding: 10px;
}
