.main__container {
	margin-top: 140px;
	height: 550px;
	width: 1200px;
	border: 2px solid $stroke;
	border-radius: 22px;
}

.main__list {
	@include dflex;
}

.main__item {
	margin-right: 30px;
	margin-bottom: 30px;
	@include dflex;
}
