<footer class="footer">
	<ul class="footer__list">
		<li class="footer__item">
			<a class="footer__link" id="games" title="Games">
				<svg class="footer__svg" width="50" height="50" aria-label="games img">
					<use xlink:href="./img/symbol-defs.svg#icon-games"></use>
				</svg>
			</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" id="social" title="Social">
				<svg class="footer__svg" width="35" height="35" aria-label="social img">
					<use xlink:href="./img/symbol-defs.svg#icon-message"></use>
				</svg>
			</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" id="prod" title="Productivity & Education">
				<svg class="footer__svg" width="40" height="40" aria-label="productivity img">
					<use xlink:href="./img/symbol-defs.svg#icon-efficiency"></use>
				</svg>
			</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" id="images" title="Images & Video/Audio">
				<svg class="footer__svg" width="45" height="45" aria-label="image img">
					<use xlink:href="./img/symbol-defs.svg#icon-images"></use>
				</svg>
			</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" id="design" title="Art & Design">
				<svg class="footer__svg" width="40" height="40" aria-label="design img">
					<use xlink:href="./img/symbol-defs.svg#icon-layers"></use>
				</svg>
			</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" id="security" title="Security">
				<svg class="footer__svg" width="42" height="42" aria-label="bug img">
					<use xlink:href="./img/symbol-defs.svg#icon-bug"></use>
				</svg>
			</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" id="development" title="Development">
				<svg class="footer__svg" width="40" height="40" aria-label="code img">
					<use xlink:href="./img/symbol-defs.svg#icon-code"></use>
				</svg>
			</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" id="home" title="home">
				<svg class="footer__svg" width="40" height="40" aria-label="home img">
					<use xlink:href="./img/symbol-defs.svg#icon-home"></use>
				</svg>
			</a>
		</li>
	</ul>
</footer>
